<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HIDShift third-party licenses</title>
</head>
<body>
  <h1>HIDShift third-party licenses</h1>
  {{#each licenses}}
    <section>
      <h2>{{name}}</h2>
      <p>Used by:</p>
      <ul>
        {{#each used_by}}
          <li>{{crate.name}} {{crate.version}}</li>
        {{/each}}
      </ul>
      <pre>{{text}}</pre>
    </section>
  {{/each}}
</body>
</html>
